.editar-container {
    width: 430px;
    margin: 0 auto;
    min-height: 100vh;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    padding: 20px;
}

.editar-header {
    width: 100%;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.back-btn {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: inherit;
    font-weight: bold;
}

.form-group-edit {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.name-form-group,
.telefone-form-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.name-form-group label,
.telefone-form-group label {
    font-weight: 600;
}

.input-field {
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}

.button-app {
    margin-top: 20px;
    width: 100%;
}

.edit-page-btn {
    width: 100%;
    padding: 15px;
    background-color: red;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s;
}

.edit-page-btn:hover {
    background-color: #e60000;
}

.edit-page-btn:disabled {
    opacity: 0.7;
    cursor: not-allowed;
}