* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.agendar-container {
    width: 100%;
    max-width: 400px;
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.agendar-header {
    background-color: #00012F;
    color: white;
    padding: 18px;
    display: flex;
    align-items: center;
    gap: 12px;
    justify-content: center;
}

header h1 {
    font-size: 20px;
    font-weight: bold;
}

.form-group {
    padding: 12px 25px;
}

.input-field {
    width: 100%;
    height: 40px;
    background-color: #d8d8d8;
    border: 1px solid #b8b8b8;
    border-radius: 8px;
    padding: 5px 12px;
    font-size: 15px;
    color: #333;
    outline: none;
}

#forms{
    margin-bottom: 25px;
}