* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.agendar-container {
    width: 100%;
    max-width: 400px;
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.agendar-header {
    background-color: #00012F;
    color: white;
    padding: 18px;
    display: flex;
    align-items: center;
    gap: 12px;
}

header h1 {
    font-size: 20px;
    font-weight: bold;
}

label {
    display: block;
    color: #00012F; 
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 6px;
}

.form-group {
    padding: 12px 25px;
}

.input-field {
    width: 100%;
    height: 40px;
    background-color: #d8d8d8;
    border: 1px solid #b8b8b8;
    border-radius: 8px;
    padding: 0 12px;
    font-size: 15px;
    color: #333;
    outline: none;

}

input[type="date"].input-field::-webkit-calendar-picker-indicator {
    filter: invert(24%) sepia(31%) saturate(2227%) hue-rotate(318deg) brightness(91%) contrast(92%);
}

footer {
    border-top: 1px solid #eeeeee;
    margin-top: auto; 
    padding: 15px 0;
    display: flex;
    justify-content: space-around;
    background-color: #ffffff;
}


.icon-nav {
    width: 30px;
    height: 30px;
    border: 2px solid #0f0525;
    border-radius: 4px;
}