* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.profile-img{
  margin-bottom: 30px;
}

.login-container{
  width: 400px;
  max-width: 400px;
  height: 100vh;
  padding: 40px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#userImage {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  background-color: #3b3b8f; 
  margin-bottom: 30px;
}

.input-label {
  font-size: 1.2rem;
  font-weight: 500;
  color: #000000;
  margin-bottom: 8px;
  margin-top: 15px;
  text-align: left;
}

.inputs {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.inputs input {
  width: 100%;
  padding: 15px;
  border-radius: 8px;
  border: none;
  background-color: #00012f36;
  font-size: 1rem;
  color: #333;
  margin-bottom: 5px;
  outline: none;
}

.inputs input::placeholder {
  color: #555;
}

#loginButton {
  margin-top: 30px;
  background-color: #03062b; 
  color: white;
  border: none;
  border-radius: 8px; 
  padding: 12px 0;
  font-size: 1.5rem;
  font-weight: 500;
  cursor: pointer;
  width: 80%; 
  align-self: center; 
  transition: 0.3s;
}

#loginButton:hover {
  opacity: 0.95;
}

.socials{
  margin-top: 50px;
  justify-items: center;
}

.socialLogin{
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
}

#titleSocialLogin {
  font-size: 14px;
  color: #666;
  margin-bottom: 5px;
}

footer {
  font-size: 0.9rem;
  color: #333;
  flex-direction: column;
}