* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
}

body {
  background-color: #ffffff; 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container { 
  padding: 40px 50px;
  border-radius: 8px; 
  display: flex;
  flex-direction: column;
  align-items: center;
}

#userImage {
  width: 150px;
  height: 150px;
  border-radius: 50%; /* Deixa a imagem redonda */
  object-fit: cover;
  background-color: #3b3b8f; /* Fundo escuro caso a imagem seja transparente */
  margin-bottom: 30px;
}

.input-label {
  font-size: 1.2rem;
  font-weight: 500;
  color: #000000;
  margin-bottom: 8px;
  margin-top: 15px;
  text-align: left;
}

.inputs {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.inputs input {
  width: 100%;
  padding: 15px;
  border-radius: 8px;
  border: none;
  background-color: #00012f36;
  font-size: 1rem;
  color: #333;
  margin-bottom: 5px;
  outline: none;
  
}

.inputs input::placeholder {
  color: #555;
}

#loginButton {
  margin-top: 30px;
  background-color: #03062b; /* Azul bem escuro, quase preto */
  color: white;
  border: none;
  border-radius: 8px; 
  padding: 12px 0;
  font-size: 1.5rem;
  font-weight: 500;
  cursor: pointer;
  width: 80%; 
  align-self: center; 
  transition: 0.3s;
}

#loginButton:hover {
  opacity: 0.95;
}

.socialLogin {
  text-align: center;
  display: flex;
  align-items: center;
}

.socials{
    padding: 20px;
    justify-items: center;
}

#titleSocialLogin {
  font-size: 1rem;
  color: #1a237e; /* Azul escuro */
  padding: 10px;
  font-weight: normal;
}

footer {
  margin-top: 40px;
  text-align: center;
  padding: 10px;
  font-size: 0.9rem;
  color: #333;
}

footer p:last-child {
  margin-top: 5px;
  font-weight: 500;
}