.history-container {
    width: 430px;
    margin: 0 auto;

    min-height: 100vh;

    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    align-items: center;

    overflow-y: auto;

    height: 100vh;
}

.history-header {
    text-align: start;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    gap: 10px;
}

.history-header h1 {
    font-size: 24px;
    font-weight: 700;
    margin: 0;
}

.history-header img {
    cursor: pointer;
    width: 28px;
}

.history-item {
    background-color: rgba(0, 1, 47, 0.35);
    list-style-type: none;
    border-radius: 14px;
    border: 1px solid rgba(0, 1, 47, 0.4);
    position: relative;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

.history-content {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

#history-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0;
    list-style-type: none;
    width: 100%;
}


.history-item-content {
    display: flex;
    flex-direction: row;
    gap: 15px;
}


.history-img-container img {
    border-radius: 24px;
    padding: 10px;
    width: 120px;
    object-fit: cover;
}


.history-info {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.history-info span {
    font-weight: 700;
}

.empty-message {
    text-align: center;
    color: #888;
    margin-top: 20px;
}