.register-header {
  width: 100%;
  display: flex;
  justify-content: center; 
  flex-direction: column;
  align-items: center;
  margin: 0%;
  background-color: #ffffff;
  color: #000000;
}

.title-create-account{
  font-size: 40px;
  font-weight: 800;
}

.ou-registre{
  text-align: center;
  font-size: 16px;
  font-weight: 500;
}

.register-container {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  max-width: 400px; 
  max-height: 844;
  margin: 0 auto;
}

.userTitle {
  color: #000000; 
  font-size: 16px;
  font-weight: bold;
  align-self: flex-start;
  margin: 15px 0 5px 10px;
}

input {
  width: 100%;
  height: 55px;
  background-color:  #00012f36; 
  border: none;
  border-radius: 12px;
  padding: 0 15px;
  font-size: 18px;
  color: #333;
  margin-bottom: 5px;
  outline: none;
}

input::placeholder {
  color: #555;
}

#registerButton {
  width: 80%;
  height: 55px;
  background-color: #03062b; 
  color: #ffffff;
  border: none;
  border-radius: 15px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  margin: 30px auto 20px auto;
  transition: 0.3s;
}

#registerButton:hover {
  opacity: 0.95;
}

#register-titleSocialLogin {
  font-size: 14px;
  color: #666;
  margin-bottom: 15px;
}

form {
  text-align: center;
}

form h2 {
  text-align: start;
}

footer {
  align-items: center;
  margin-top: 20px;
}

footer p {
  font-size: 14px;
  color: #333;
  margin-bottom: 5px;
}

footer p:last-child {
  font-weight: bold;
  text-transform: uppercase;
}